* {
    @extend %no-space;
}

// GLOBAL
.uk-button {
    &-primary {
        background-color: $global-link-color;

        &:hover,
        &:focus {
            background-color: $global-link-hover-color;
        }
    }

    &-secondary {

        &:hover,,
        &:focus {
            background-color: lighten($color: $global-secondary-background, $amount: 6%);
        }
    }
}

.uk-background-secondary,
.uk-background-primary {
    color: $global-inverse-color;
}

.overlay {
    background: adjust-color($global-secondary-background, $alpha: -0.6);
    width: 100%;
    height: 100%;
}

.show {
  visibility: visible;
  opacity: 222;
}
 
.hide {
  visibility: hidden;
  opacity: 0;
}
// HEADER
#header {
    background-color: $global-secondary-background;
    border-bottom: 2px solid $global-primary-background;

    nav {
        a.logo {
            color: $global-inverse-color;
            font-size: 1.3rem;
            text-decoration: none;

            span {
                color: $global-primary-background;
            }
        }
        
        .uk-navbar-nav>li>a {
            color: $global-inverse-color;
            text-transform: uppercase;
    
            &:hover, 
            &:active {
                color: $global-primary-background;
            }
        }
        li.uk-active>a {
            color: $global-primary-background !important;
        }

        .uk-navbar-toggle {
            color: #fff;
        }

    }
}


#offcanvas {
    color: $global-inverse-color;

    .uk-offcanvas-bar {
        background-color: $global-secondary-background;

    }

    .uk-offcanvas-close.uk-close,
    .uk-nav>li>a {
        color: $global-inverse-color;
    }

    .uk-nav>li>a {

        text-transform: uppercase;
        font-size: 1.6rem;

        &:hover {
            color: $global-primary-background;
        }
    }
}

#home {

    #small-header {
        text-transform: uppercase;
    }

    h2.uk-heading-large {
        margin-top: .2rem;
        color: $global-inverse-color;
        text-transform: uppercase;
    }

    #small-border {
        margin-top: 1rem;
        display: block;
        width: 9%;
        height: 8px;
        padding: 0.34rem;
        background-color: $global-primary-background;
    }
}

#subscribe {
    background-color: $global-primary-background;
    color: $global-inverse-color;

    h3,
    #disclaimer {
        text-transform: uppercase;
        color: $global-inverse-color;
    }

    h3 {

        letter-spacing: 0.3rem;
    }

    #inputs {
        width: 100%;

        .uk-input {
            width: 60%;
            margin-right: 0;
        }

        button.uk-button {
            border-radius: 0;
            margin-left: 0;
            text-transform: uppercase;
        }

    }

    #disclaimer {
        display: block;
        text-align: center;
        font-style: italic;
        font-weight: 700;
        font-size: 1rem;
    }
}

#courses {

    .uk-background-gray,
    .uk-inline .uk-button {
        color: $global-inverse-color;
    }

    .desc,
    .uk-inline .uk-button {
        text-transform: uppercase;
    }

    .uk-inline {
        .uk-button {
            background-color: $global-success-background;
        }
    }

    .uk-card-body {
        padding: 20px;
    }

    .uk-background-gray {
        background-color: $extra;
    }


    .desc:before {
        content: '';
        display: inline-block;
        width: 3%;
        height: 2px;
        background: $global-primary-background;
        vertical-align: middle;
        margin-right: 7px;
    }
}



#about {
    h3 {
        text-transform: uppercase;
        font-size: 1.9rem;
        width: 90%;


    }

    h3:after {
        content: '';
        display: block;
        border: 1px solid $global-primary-background;
        padding: .2345rem;
        background: $global-primary-background;
        text-align: center;
        margin: 10px 0 0 0;
    }

    div.uk-align-center {
        margin-bottom: 0;
    }
    
    .uk-button {
        width: 100%;
        text-transform: uppercase;
        background: $global-primary-background;
    }
    #article {
        p:first-child {
            font-weight: 600;
            font-size: 1.11rem;
            letter-spacing: 1.2px;
        }
        
    }

    #social {
        background: $global-primary-background;
        
        h4 {
            font-size: 4rem;
            margin-bottom: 10px;
            color: $global-inverse-color;
        }

        .uk-iconnav {
            li{
                margin-right: 10px;
                
                &:last-child {
                    margin-right: 0;
                }
            }
            a {
                color: $global-primary-background;
                border: 2px solid $global-inverse-color;
                padding: .788rem;
                border-radius: 50%;
                background: $global-inverse-color;
                
                svg {
                    width: 3.125rem;
                    height: 3.125rem;
                }
            }
        }
    }
}

#patreon {
    background: {
        image: url('https://images.unsplash.com/photo-1537884631310-061c11097503?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80');
        size: cover;
        attachment:fixed;
        position: center center;
    }

    .overlay {
        
        .uk-card {
            background: $global-inverse-color;
            border-radius: .42rem;
            h3 {
                text-transform: uppercase;
                font: {
                    size: 2rem;
                    weight: 600;
                }
                letter-spacing: 3px;
                &:after {
                    content: '';
                    display: block;
                    background: $global-primary-background;
                    margin-top: 10px;
                    border: 1px solid $global-primary-background;
                    width: 3%;
                    padding: .23rem .6rem;  
                }
            }

            .uk-button {
                border-radius: 5px;
            }
            
            .uk-list li {
                line-height: 1.8;
                span {
                    font-weight: bold;
                    color: $global-secondary-background;
                    text-transform: uppercase;
                }
            }

            span.small-border {
                border-bottom: 5px solid $global-primary-background;
                border-radius: 5px;
            } 
        }
    }    
}

#youtube {
    background-color: $global-primary-background;
    &, h3 {
        color: $global-inverse-color;
    }
    span ~ h3 {
        font-size: 1.8rem;
        letter-spacing: 1px;
        font-weight: 800;
    }
    p {
        font: {
            size: 1.0678rem;
            weight: 500;
        }
        line-height: 1.2;
    }
    .uk-card {  
        border-radius: 5px;
        img {
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        }
        .uk-card-body {
            padding: 15px;
            p {
                font: {
                    size: 1rem;
                    weight: 500;
                }
            }
        }
    }
    
}

#stats {
    background: {
        image: url('https://images.unsplash.com/photo-1515703817793-511cee221bb9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80');
        size: cover;
        attachment:scroll;
        position: center center;
    }
    
    color: $global-inverse-color;
    
    .num {
        font:{
            weight: 700;
            size: 3rem;
        }
        letter-spacing: 0.164rem;
        
    }

    .stat-desc {
        position: relative;
        font: {
            weight: 500;
            size: 1.003rem;
        }
        text-transform: uppercase;
        letter-spacing: 0.127rem;
        &:before{
            content: '';
            margin-top: -2px;
            position: absolute;
            left: -20px;
            top: 50%;
            width: 12px;
            height: 4px;
            background: $global-primary-background;
            vertical-align: middle;
        }
    }
}

#contact {
    #grey-bg {
        background: #AFAFAF;
        
        .uk-width-4-5 {
            .uk-card {
                background: $global-inverse-color;
                border-right: 4px solid $global-primary-background;
                
                #email {
                    font-size: 1.066rem;
                    font-weight: 700;
                    span {
                        text-decoration: underline;
                    }
                }
            }
        }
    }

    #white-bg {
        background: $global-inverse-color;
        
        h3:after {
            content:'';
            display: block;
            background: $global-primary-background;
            width: 8%;
            height: 10px;
            margin: 1rem 0;
        }
        
        p {
            font-size: 1.25rem;
            line-height: 1.875rem;
        }
    }
}
a.uk-icon.uk-position-fixed {
    margin-right: 16px;
    color: $global-link-color;
    border-radius: 10px;
    border: 2px solid $global-link-color;
    background: $global-secondary-background;
     svg {
        width: 30px;
        height: 30px;
    }
}

#scrollBtn {
   
}

footer {
    img {
        max-height: 40px;
        color: $global-secondary-background;
        border: 1px solid #afafaf;
        padding: 3px;
    }
    .uk-iconnav {
        li {
            margin-right: 10px;
            a {
                color: $global-secondary-background;
                svg {
                    width: 1.7rem;
                    height: 1.7rem;
                }
            }
            
        }
        li:last-child {
            margin-right: 0;
        }
    }
    p {
        text-transform: uppercase;
        font-size: .899rem;
        font-weight: 500;
        color: $global-secondary-background !important;
        letter-spacing: 0.3rem;
    }
}


@media (max-width: 1010px){
    #about {

        #social {
            .uk-iconnav { 
                a { 
                    svg {
                        width: 2.9rem;
                        height: 2.9rem;
                    }
                }
            }
        }
    }
   
}

@media (max-width: 522px){
    #about {

        #social {
            .uk-iconnav { 
                a { 

                    svg {
                        width: 1.9rem;
                        height: 1.9rem;
                    }
                }
            }
        }
    }
   
}

@media (max-width: 439px){
    #about {

        #social {
            .uk-iconnav { 
                a { 
                    padding: .34rem;
                    svg {
                        width: 1rem;
                        height: 1rem;
                    }
                }
            }
        }
    }
   
}
